/* general styles */

a:link
{
  color: #34567F;
}

a:visited
{
  color: #000000;
}

body
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0px;
}

.pagecontents 
{ 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 5px;
}

h4
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#DEDEDE;
  padding: 2px;
  font-weight:bold;
}

p
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* styles used within george's page layout */

td.extlinks
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-weight:bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
}

td.sidelinks
{
  padding: 5px;
  font-size: smaller; 
}

.navlinks
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-color: black;
  white-space: nowrap;
}

/* styles used in survey builder */

td.editmenu
{
  background-color:#EEEEEE;
  cursor:hand;
}

td.editmenuhover
{
  background-color:#AAAAAA;
  cursor:hand;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.insertmenu
{
  background-color:#FFFFFF;
  cursor:none;
}

td.insertmenuhover
{
  background-color:#FFE051;
  cursor:hand;
}

.tinybutton
{
  font-weight: bold;
  font-size: x-small;
  cursor: hand;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* downloadable fonts */

@font-face
{ 
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  src: url(TREBUCH1.eot);
}

@font-face
{ 
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 700;
  src: url(TREBUCH0.eot);
}