/* general styles */

a:link
{
  color: #007700;
}

a:visited
{
  color: #000000;
}

body.preview
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: smaller;
  background-color: white;
  color: black;
}

body.main
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: 0px;
}

body.help
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #FFFFEF;
  color: black;
}

.pagecontents 
{ 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 5px;
}

h4
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color:#DEDEDE;
  padding: 2px;
  font-weight:bold;
}

p
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* styles used within george's page layout */

td.extlinks
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-weight:bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
}

td.sidelinks
{
  padding: 5px;
  font-size: smaller; 
}

.navlinks
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-color: black;
}

/* styles used in survey builder */

td.editmenu
{
  background-color:#EEEEEE;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  cursor: hand;
}

td.editmenuhover
{
  background-color:#AAAAAA;
  cursor: pointer;
  cursor: hand;
  border-color: black;
  border-style: solid;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.insertmenu
{
  background-color:#FFFFFF;
  cursor:none;
}

td.insertmenuhover
{
  background-color:#FFE051;
  cursor: pointer;
  cursor: hand;
}

.tinybutton
{
  font-weight: bold;
  font-size: x-small;
  cursor: pointer;
  cursor: hand;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* downloadable fonts */

@font-face
{ 
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  src: url(TREBUCH1.eot);
}

@font-face
{ 
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 700;
  src: url(TREBUCH0.eot);
}

.plainbox
{ 
  background: transparent;
  background-color: White;
  border: 1px solid #000000;
  color: #000000;
  font-family: Verdana,Arial,Helvetica;
  font-size: x-small;
  text-align: left;
  scrollbar-face-color: #CCCCCC;
  scrollbar-shadow-color: #FFFFFF;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-arrow-color: #000000
}

.reallytinybutton
{
  font-weight: bolder;
  font-size: xx-small;
  cursor: pointer;
  cursor: hand;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}